* {
  padding: 15px;
  border: 1px solid #ddd;
  border-radius: 10px;
  font-size: 16px;
}

form textarea {
  height: 120px;
}

form button {
  padding: 15px;
  border: none;
  background: #ff2e63;
  color: white;
  border-radius: 30px;
  cursor: pointer;
  font-size: 18px;
}

.address {
  max-width: 400px;
}

.address h3 {
  font-size: 35px;
  margin-bottom: 20px;
}

.address p {
  font-size: 18px;
  margin-bottom: 15px;
}


/* FOOTER */

footer {
  background: black;
  color: white;
  text-align: center;
  padding: 25px;
}


/* MOBILE RESPONSIVE */

@media(max-width: 768px) {

  header {
    flex-direction: column;
  }

  nav ul {
    margin-top: 15px;
  }

  .hero-content h1 {
    font-size: 42px;
  }

  .products h2,
  .about-text h2,
  .contact h2 {
    font-size: 38px;
  }

}
